In [121]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Reads in all sheets in Riket

## A)

In [122]:
df_country_english= pd.read_excel("../Data/riket2023_åk9_np.xlsx", sheet_name= "Engelska", skiprows= 7)
df_country_math= pd.read_excel("../Data/riket2023_åk9_np.xlsx", sheet_name= "Matematik", skiprows= 7)
df_country_swedish= pd.read_excel("../Data/riket2023_åk9_np.xlsx", sheet_name= "Svenska", skiprows= 7)
df_country_swedish2= pd.read_excel("../Data/riket2023_åk9_np.xlsx", sheet_name= "Svenska som andraspråk", skiprows= 7)
df_country_rapport= pd.read_excel("../Data/riket2023_åk9_np.xlsx", sheet_name= "Rapportbeskrivning och def.")
df_country_english

,Unnamed: 0,Unnamed: 1,Antal elever med provbetyg A-F,Unnamed: 3,Unnamed: 4,Andel (%) med provbetyg A-E,Unnamed: 6,Unnamed: 7,Genomsnittlig betygspoäng,Unnamed: 9,Unnamed: 10
0,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
1,Riket,Samtliga,106941,51864,55077,97,97.1,97,15.7,15.8,15.7
2,Riket,Kommunal,84310,40675,43635,96.6,96.6,96.6,15.4,15.5,15.4
3,Riket,Enskild,22582,11165,11417,98.7,98.8,98.7,16.9,17,16.8
4,Riket,Skolverket,49,24,25,100,100,100,18.5,18.9,18.2

## B)

In [123]:
dfs= {
    "English": df_country_english,
    "Math": df_country_math,
    "Swedish": df_country_swedish,
    "Swedish2": df_country_swedish2,
    "report": df_country_rapport
}
labels= [
    "",
    "",
    "",
    "(A-F)",
    "(A-F)",
    "(A-F)",
    "(A-E)",
    "(A-E)",
    "(A-E)",
    "(Poäng)",
    "(Poäng)",
    "(Poäng)"
]
columns_copy= []

for subject in dfs:
    dfs[subject].columns= dfs[subject].loc[0]
    dfs[subject].drop(dfs[subject].index[0], inplace= True)
    columns_copy= dfs[subject].columns.tolist()
    
    columns_copy= [f"{col}{label}" for col, label in zip(dfs[subject].columns, labels)]
    
    dfs[subject].columns= columns_copy
    
    
df_country_english= dfs["English"]
df_country_math= dfs["Math"]
df_country_swedish= dfs["Swedish"]
df_country_swedish2= dfs["Swedish2"]
df_country_rapport= dfs["report"]
df_country_english

,Riket,Typ av huvudman,Totalt,Flickor(A-F),Pojkar(A-F),Totalt (A-F),Flickor (A-E),Pojkar (A-E),Totalt (A-E),Flickor (Poäng),Pojkar (Poäng)
1,Riket,Samtliga,106941,51864,55077,97,97.1,97,15.7,15.8,15.7
2,Riket,Kommunal,84310,40675,43635,96.6,96.6,96.6,15.4,15.5,15.4
3,Riket,Enskild,22582,11165,11417,98.7,98.8,98.7,16.9,17,16.8
4,Riket,Skolverket,49,24,25,100,100,100,18.5,18.9,18.2