In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Reads in all sheets in Riket

## A)

In [3]:
df_country_english= pd.read_excel("../Data/riket2023_åk9_np.xlsx", sheet_name= "Engelska", skiprows= 7)
df_country_math= pd.read_excel("../Data/riket2023_åk9_np.xlsx", sheet_name= "Matematik", skiprows= 7)
df_country_swedish= pd.read_excel("../Data/riket2023_åk9_np.xlsx", sheet_name= "Svenska", skiprows= 7)
df_country_swedish2= pd.read_excel("../Data/riket2023_åk9_np.xlsx", sheet_name= "Svenska som andraspråk", skiprows= 7)
df_country_rapport= pd.read_excel("../Data/riket2023_åk9_np.xlsx", sheet_name= "Rapportbeskrivning och def.")
df_country_english

,Unnamed: 0,Unnamed: 1,Antal elever med provbetyg A-F,Unnamed: 3,Unnamed: 4,Andel (%) med provbetyg A-E,Unnamed: 6,Unnamed: 7,Genomsnittlig betygspoäng,Unnamed: 9,Unnamed: 10
0,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
1,Riket,Samtliga,106941,51864,55077,97,97.1,97,15.7,15.8,15.7
2,Riket,Kommunal,84310,40675,43635,96.6,96.6,96.6,15.4,15.5,15.4
3,Riket,Enskild,22582,11165,11417,98.7,98.8,98.7,16.9,17,16.8
4,Riket,Skolverket,49,24,25,100,100,100,18.5,18.9,18.2

In [4]:
dfs= {
    "English": df_country_english,
    "Math": df_country_math,
    "Swedish": df_country_swedish,
    "Swedish2": df_country_swedish2,
    "report": df_country_rapport
}
labels= [
    "",
    "",
    "(A-F)",
    "(A-F)",
    "(A-F)",
    "%(A-E)",
    "%(A-E)",
    "%(A-E)",
    "(Poäng)",
    "(Poäng)",
    "(Poäng)"
]
columns_copy= []

for subject in dfs:
    dfs[subject].columns= dfs[subject].loc[0]
    dfs[subject].drop(dfs[subject].index[0], inplace= True)
    columns_copy= dfs[subject].columns.tolist()
    
    columns_copy= [f"{col}{label}" for col, label in zip(dfs[subject].columns, labels)]
    
    dfs[subject].columns= columns_copy
    
    
df_country_english= dfs["English"]
df_country_math= dfs["Math"]
df_country_swedish= dfs["Swedish"]
df_country_swedish2= dfs["Swedish2"]
df_country_rapport= dfs["report"]
df_country_english

,Riket,Typ av huvudman,Totalt(A-F),Flickor(A-F),Pojkar(A-F),Totalt %(A-E),Flickor %(A-E),Pojkar %(A-E),Totalt (Poäng),Flickor (Poäng),Pojkar (Poäng)
1,Riket,Samtliga,106941,51864,55077,97,97.1,97,15.7,15.8,15.7
2,Riket,Kommunal,84310,40675,43635,96.6,96.6,96.6,15.4,15.5,15.4
3,Riket,Enskild,22582,11165,11417,98.7,98.8,98.7,16.9,17,16.8
4,Riket,Skolverket,49,24,25,100,100,100,18.5,18.9,18.2

## B)

In [5]:
df_country_math

,Riket,Typ av huvudman,Totalt(A-F),Flickor(A-F),Pojkar(A-F),Totalt %(A-E),Flickor %(A-E),Pojkar %(A-E),Totalt (Poäng),Flickor (Poäng),Pojkar (Poäng)
1,Riket,Samtliga,106766,51548,55218,89.1,88.7,89.5,11.9,11.8,12
2,Riket,Kommunal,84163,40386,43777,88.1,87.7,88.5,11.6,11.5,11.7
3,Riket,Enskild,22553,11137,11416,92.9,92.2,93.5,13,12.8,13.1
4,Riket,Skolverket,50,25,25,~100,~100,~100,14.1,13.5,14.7

In [23]:
girls_f= round(df_country_math.loc[1, "Flickor(A-F)"]- df_country_math.loc[1, "Flickor(A-F)"]* (df_country_math.loc[1, "Flickor %(A-E)"]/ 100), 2)
boys_f= round(df_country_math.loc[1, "Pojkar(A-F)"]- df_country_math.loc[1, "Pojkar(A-F)"]* (df_country_math.loc[1, "Pojkar %(A-E)"]/ 100), 2)

## Diagram Points

In [ ]:
subject_points= [
    "English" : df_country_english.loc[1, "Total (Poäng)"],
    "Math" : df_country_math.loc[1, "Total (Poäng)"],
    
]


fig, ax= plt.subplots()