## 0. Cities in Sweden - create dataset (*)

Create this DataFrame from scratch: 

|    | Kommun    |   Population |
|---:|:----------|-------------:|
|  0 | Malmö     |       347949 |
|  1 | Stockholm |       975551 |
|  2 | Uppsala   |       233839 |
|  3 | Göteborg  |       583056 |

&nbsp; a) Use your DataFrame to print out all the cities. (*)

&nbsp; b) Select only the row which contains Göteborg. Do this by using the name Göteborg. (*)

&nbsp; c) Sort the cities by population from largest to smallest. (*)

&nbsp; d) Filter out the three largest cities. (*)

&nbsp; e) The whole population in Sweden 2020 is 10379295. Use this number to create a new column in your sorted DataFrame named: Population (%). This column should be filled with percentage of the Swedish population for each city.

In [23]:
import pandas as pd
city = ["Malmö", "Stockholm", "Uppsala", "Göteborg"]
population = [347949, 975551, 233839, 583056]

cities = list(zip(city, population))
for x in cities:
    print(x)

('Malmö', 347949)
('Stockholm', 975551)
('Uppsala', 233839)
('Göteborg', 583056)

In [25]:

matrix = pd.DataFrame(cities, columns = ["City", "Population"], index = [f"{i}" for i in range(4)])
matrix

        City  Population
0      Malmö      347949
1  Stockholm      975551
2    Uppsala      233839
3   Göteborg      583056