## 0. Cities in Sweden - create dataset (*)

Create this DataFrame from scratch: 

|    | Kommun    |   Population |
|---:|:----------|-------------:|
|  0 | Malmö     |       347949 |
|  1 | Stockholm |       975551 |
|  2 | Uppsala   |       233839 |
|  3 | Göteborg  |       583056 |

&nbsp; a) Use your DataFrame to print out all the cities. (*)

&nbsp; b) Select only the row which contains Göteborg. Do this by using the name Göteborg. (*)

&nbsp; c) Sort the cities by population from largest to smallest. (*)

&nbsp; d) Filter out the three largest cities. (*)

&nbsp; e) The whole population in Sweden 2020 is 10379295. Use this number to create a new column in your sorted DataFrame named: Population (%). This column should be filled with percentage of the Swedish population for each city.

In [229]:
import pandas as pd
city = ["Malmö", "Stockholm", "Uppsala", "Göteborg"]
population = [347949, 975551, 233839, 583056]

cities = list(zip(city, population))
for x in cities:
    print(x)

('Malmö', 347949)
('Stockholm', 975551)
('Uppsala', 233839)
('Göteborg', 583056)

In [230]:
matrix = pd.DataFrame(cities, columns = ["City", "Population"], index = [f"{i}" for i in range(4)])
matrix

        City  Population
0      Malmö      347949
1  Stockholm      975551
2    Uppsala      233839
3   Göteborg      583056

In [231]:
for city in matrix["City"]:
    print(city)

Malmö
Stockholm
Uppsala
Göteborg

In [232]:
gothenburg_row = matrix.query("City == 'Göteborg'")
print(gothenburg_row)

       City  Population
3  Göteborg      583056

In [233]:
matrix = pd.DataFrame(cities, columns = ["City", "Population"], index = [f"{i}" for i in range(4)])
cities_largest = matrix.sort_values(by="Population", ascending=False)

In [234]:
smalest_citie = cities_largest[3:]
smalest_citie

      City  Population
2  Uppsala      233839

In [235]:
swe_pop = 10379295
matrix["Population%"] = (matrix["Population"]/swe_pop)*100
matrix

        City  Population  Population%
0      Malmö      347949     3.352338
1  Stockholm      975551     9.399010
2    Uppsala      233839     2.252937
3   Göteborg      583056     5.617491

## 1. Cities in Sweden - real dataset (*)


Download the file komtopp50_2020.xlsx from the course github repo. The data is taken from SCB. 

&nbsp; a) Read in the tab "Totalt" into a DataFrame and start exploring the data with some simple explorations such as

```python
df.head()
df.info()
df.describe()
```

Feel free to do more explorations. (*)

&nbsp; b) Clean your data so that the head looks like this: (*)


|    |   Rang 2020 |   Rang 2019 | Kommun   |   Folkmängd 2020 |   Folkmängd 2019 |   Förändring |
|---:|------------:|------------:|:---------|-----------------:|-----------------:|-------------:|
|  0 |          83 |          84 | Ale      |            31868 |            31402 |     1.48398  |
|  1 |          64 |          64 | Alingsås |            41602 |            41420 |     0.439401 |
|  2 |         123 |         123 | Alvesta  |            20224 |            20134 |     0.447005 |
|  3 |         255 |         255 | Aneby    |             6821 |             6848 |    -0.394276 |
|  4 |         169 |         167 | Arboga   |            14039 |            14087 |    -0.34074  |

&nbsp; c) Sort the cities by population from largest to smallest. (*)

&nbsp; d) Filter out the five smallest cities. (*)

&nbsp; e) Use the DataFrame to calculate Sweden's population in 2019 and 2020. (*)

&nbsp; f) Plot a bar chart for the five largest cities and the five smallest cities. (*)

In [236]:
df = pd.read_excel("../Data/komtopp50_2020.xlsx", sheet_name="Totalt")
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,Folkmängd per kommun 31 december 2020 jämfört ...,NaN,NaN,NaN,NaN,NaN
2,Sorterat i alfabetisk ordning. Rangordning frå...,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Rang,NaN,Kommun,Folkmängd 31 december,NaN,Förändring

In [237]:
df = df.rename(columns={
               "Unnamed: 0": "Rang 2020",
               "Unnamed: 1": "Rang 2019",
               "Unnamed: 2": "Kommun",
               "Unnamed: 3": "Folkmängd 2020",
               "Unnamed: 4": "Folkmängd 2019",
               "Unnamed: 5": "Förändring"})

In [238]:
df = df.dropna().reset_index(drop= True)

In [239]:
df

,Rang 2020,Rang 2019,Kommun,Folkmängd 2020,Folkmängd 2019,Förändring
0,83,84.0,Ale,31868,31402.0,1.483982
1,64,64.0,Alingsås,41602,41420.0,0.439401
2,123,123.0,Alvesta,20224,20134.0,0.447005
3,255,255.0,Aneby,6821,6848.0,-0.394276
4,169,167.0,Arboga,14039,14087.0,-0.34074
...,...,...,...,...,...,...
285,54,55.0,Österåker,46644,45574.0,2.34783
286,116,115.0,Östhammar,22251,22250.0,0.004494
287,160,159.0,Östra Göinge,15017,15007.0,0.066636
288,284,284.0,Överkalix,3289,3315.0,-0.784314
289,279,279.0,Övertorneå,4217,4299.0,-1.90742

In [240]:
population2020 = df["Folkmängd 2020"].sum()
population2019 = df["Folkmängd 2019"].sum()
population2020_2019 = population2020 + population2019
print(f"2019: {population2019}\n2020: {population2020}\nBoth years: {population2020_2019}")

2019: 10327589.0
2020: 10379295
Both years: 20706884.0

In [241]:
import plotly_express as px
smalest_cities = df.sort_values("Folkmängd 2020").tail(5)
largest_cities = df.sort_values("Folkmängd 2020").head(5)
s_l_citites = pd.concat([largest_cities, smalest_cities])
fig= px.bar(s_l_citites, x= "Kommun", y= "Folkmängd 2020")
fig.show()

In [242]:
df.head()

  Rang 2020  Rang 2019    Kommun Folkmängd 2020  Folkmängd 2019 Förändring
0        83       84.0       Ale          31868         31402.0   1.483982
1        64       64.0  Alingsås          41602         41420.0   0.439401
2       123      123.0   Alvesta          20224         20134.0   0.447005
3       255      255.0     Aneby           6821          6848.0  -0.394276
4       169      167.0    Arboga          14039         14087.0   -0.34074

In [243]:
df["Kön"] = "Man"
df_male = df.copy()
df["Kön"] = "Kvinna"
df_female = df.copy()

In [246]:
df_merge = pd.concat([df_male, df_female])
df_merge.set_index("Kommun")

,Rang 2020,Rang 2019,Folkmängd 2020,Folkmängd 2019,Förändring,Kön
Kommun,,,,,,
Ale,83,84.0,31868,31402.0,1.483982,Man
Alingsås,64,64.0,41602,41420.0,0.439401,Man
Alvesta,123,123.0,20224,20134.0,0.447005,Man
Aneby,255,255.0,6821,6848.0,-0.394276,Man
Arboga,169,167.0,14039,14087.0,-0.34074,Man
...,...,...,...,...,...,...
Österåker,54,55.0,46644,45574.0,2.34783,Kvinna
Östhammar,116,115.0,22251,22250.0,0.004494,Kvinna
Östra Göinge,160,159.0,15017,15007.0,0.066636,Kvinna
Överkalix,284,284.0,3289,3315.0,-0.784314,Kvinna
Övertorneå,279,279.0,4217,4299.0,-1.90742,Kvinna

In [245]:
df_merge

,Rang 2020,Rang 2019,Folkmängd 2020,Folkmängd 2019,Förändring,Kön
Kommun,,,,,,
Ale,83,84.0,31868,31402.0,1.483982,Man
Alingsås,64,64.0,41602,41420.0,0.439401,Man
Alvesta,123,123.0,20224,20134.0,0.447005,Man
Aneby,255,255.0,6821,6848.0,-0.394276,Man
Arboga,169,167.0,14039,14087.0,-0.34074,Man
...,...,...,...,...,...,...
Österåker,54,55.0,46644,45574.0,2.34783,Kvinna
Östhammar,116,115.0,22251,22250.0,0.004494,Kvinna
Östra Göinge,160,159.0,15017,15007.0,0.066636,Kvinna
Överkalix,284,284.0,3289,3315.0,-0.784314,Kvinna
Övertorneå,279,279.0,4217,4299.0,-1.90742,Kvinna