## 0. Cities in Sweden - create dataset (*)

Create this DataFrame from scratch: 

|    | Kommun    |   Population |
|---:|:----------|-------------:|
|  0 | Malmö     |       347949 |
|  1 | Stockholm |       975551 |
|  2 | Uppsala   |       233839 |
|  3 | Göteborg  |       583056 |

&nbsp; a) Use your DataFrame to print out all the cities. (*)

&nbsp; b) Select only the row which contains Göteborg. Do this by using the name Göteborg. (*)

&nbsp; c) Sort the cities by population from largest to smallest. (*)

&nbsp; d) Filter out the three largest cities. (*)

&nbsp; e) The whole population in Sweden 2020 is 10379295. Use this number to create a new column in your sorted DataFrame named: Population (%). This column should be filled with percentage of the Swedish population for each city.

In [281]:
import pandas as pd
city = ["Malmö", "Stockholm", "Uppsala", "Göteborg"]
population = [347949, 975551, 233839, 583056]

cities = list(zip(city, population))
for x in cities:
    print(x)

('Malmö', 347949)
('Stockholm', 975551)
('Uppsala', 233839)
('Göteborg', 583056)

In [282]:
matrix = pd.DataFrame(cities, columns = ["City", "Population"], index = [f"{i}" for i in range(4)])
matrix

        City  Population
0      Malmö      347949
1  Stockholm      975551
2    Uppsala      233839
3   Göteborg      583056

In [283]:
for city in matrix["City"]:
    print(city)

Malmö
Stockholm
Uppsala
Göteborg

In [284]:
gothenburg_row = matrix.query("City == 'Göteborg'")
print(gothenburg_row)

       City  Population
3  Göteborg      583056

In [285]:
matrix = pd.DataFrame(cities, columns = ["City", "Population"], index = [f"{i}" for i in range(4)])
cities_largest = matrix.sort_values(by="Population", ascending=False)

In [286]:
smalest_cities = cities_largest[3:]
smalest_cities

      City  Population
2  Uppsala      233839

In [287]:
swe_pop = 10379295
matrix["Population%"] = (matrix["Population"]/swe_pop)*100
matrix

        City  Population  Population%
0      Malmö      347949     3.352338
1  Stockholm      975551     9.399010
2    Uppsala      233839     2.252937
3   Göteborg      583056     5.617491

## 1. Cities in Sweden - real dataset (*)


Download the file komtopp50_2020.xlsx from the course github repo. The data is taken from SCB. 

&nbsp; a) Read in the tab "Totalt" into a DataFrame and start exploring the data with some simple explorations such as

```python
df.head()
df.info()
df.describe()
```

Feel free to do more explorations. (*)

&nbsp; b) Clean your data so that the head looks like this: (*)


|    |   Rang 2020 |   Rang 2019 | Kommun   |   Folkmängd 2020 |   Folkmängd 2019 |   Förändring |
|---:|------------:|------------:|:---------|-----------------:|-----------------:|-------------:|
|  0 |          83 |          84 | Ale      |            31868 |            31402 |     1.48398  |
|  1 |          64 |          64 | Alingsås |            41602 |            41420 |     0.439401 |
|  2 |         123 |         123 | Alvesta  |            20224 |            20134 |     0.447005 |
|  3 |         255 |         255 | Aneby    |             6821 |             6848 |    -0.394276 |
|  4 |         169 |         167 | Arboga   |            14039 |            14087 |    -0.34074  |

&nbsp; c) Sort the cities by population from largest to smallest. (*)

&nbsp; d) Filter out the five smallest cities. (*)

&nbsp; e) Use the DataFrame to calculate Sweden's population in 2019 and 2020. (*)

&nbsp; f) Plot a bar chart for the five largest cities and the five smallest cities. (*)

In [288]:
df = pd.read_excel("../Data/komtopp50_2020.xlsx", sheet_name="Totalt")
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,Folkmängd per kommun 31 december 2020 jämfört ...,NaN,NaN,NaN,NaN,NaN
2,Sorterat i alfabetisk ordning. Rangordning frå...,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Rang,NaN,Kommun,Folkmängd 31 december,NaN,Förändring

In [289]:
df = df.rename(columns={
               "Unnamed: 0": "Rang 2020",
               "Unnamed: 1": "Rang 2019",
               "Unnamed: 2": "Kommun",
               "Unnamed: 3": "Folkmängd 2020",
               "Unnamed: 4": "Folkmängd 2019",
               "Unnamed: 5": "Förändring",
               " ": "Index"})

In [290]:
df = df.dropna().reset_index()

In [294]:
df.head()

,index,Rang 2020,Rang 2019,Kommun,Folkmängd 2020,Folkmängd 2019,Förändring
0,6,83,84.0,Ale,31868,31402.0,1.483982
1,7,64,64.0,Alingsås,41602,41420.0,0.439401
2,8,123,123.0,Alvesta,20224,20134.0,0.447005
3,9,255,255.0,Aneby,6821,6848.0,-0.394276
4,10,169,167.0,Arboga,14039,14087.0,-0.34074