## Exercise - for statement

## 1.0 Count numbers (*)
Use a for statement to count from:

  a)   -10 to 10 with one increment (*)

  b)   -10 to 10 with two increment (*)

In [1]:

for n in range(-10, 11):
    print(n)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10

In [4]:
for n in range(-10, 11, 2):
    print(n)

-10
-8
-6
-4
-2
0
2
4
6
8
10

## 1.1 Arithmetic sum (*)
Use a for statement to compute the following sums:

  a)   sum = 1 + 2 + ... + 99 + 100
 (*)

  b)   sum = 1 + 3 + 5 + ... + 99
 (*)

In [6]:
for n in range(1, 101):
    print(n)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [8]:
for n in range(1, 100, 2):
    print(n)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

## 1.2 Multiplication table (*)
Use for statement(s) to:

  a)   print out the 6th multiplication table from 0 to 10 (*)

  b)   let the user input the table, start and end of the table. (*)

  c)   print out a full multiplication table from 0 to 10. (**)

In [9]:
for n in range(0, 11):
    print(n*6)

0
6
12
18
24
30
36
42
48
54
60

In [10]:
num = int(input("What number do you want to multiplicate"))
start = int(input("Start of table"))
end = int(input("End of table"))

for n in range(start, end+1):
    print(n*num)

10
15
20
25

In [13]:
## tog bort 0 f√∂r mindre utskrivt
for n in range(1, 11):
    for i in range(1, 11):
        print(n*i)

1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50
6
12
18
24
30
36
42
48
54
60
7
14
21
28
35
42
49
56
63
70
8
16
24
32
40
48
56
64
72
80
9
18
27
36
45
54
63
72
81
90
10
20
30
40
50
60
70
80
90
100

## 1.3 Faculty (*)
Use a for statement to compute n!.

n! = 1 * 2 * 3 * ... * (n - 1) * n

Let the user input n.

In [15]:
num = int(input("Write a number to get x!(factorial)"))
f = 1
for i in range(1, n + 1):
    f *= i
    print(f)

1
2
6
24
120

## 1.4 Pin code cracking (*)
Start by creating a random four-digit number. Use for statement to do a brute force approach to figure out a correct guess.

In [47]:
import numpy as np

code = np.random.randint(0000, 10000)
for n in range(0000, 10000):
    if n == code:
        print(f"The code is {n}")

The code is 4923

## 5. Rice on chessboard (*)
In first square of the chessboard there is one grain of rice, in the second square there is two grains, in the third square there is four grains and so on. How many grains are there in the whole chessboard when all squares are filled using this pattern?

In [48]:
sum_ = 0
for n in range(64):
    sum_ += 2**n
    print(sum_)
print(sum_)

1
3
7
15
31
63
127
255
511
1023
2047
4095
8191
16383
32767
65535
131071
262143
524287
1048575
2097151
4194303
8388607
16777215
33554431
67108863
134217727
268435455
536870911
1073741823
2147483647
4294967295
8589934591
17179869183
34359738367
68719476735
137438953471
274877906943
549755813887
1099511627775
2199023255551
4398046511103
8796093022207
17592186044415
35184372088831
70368744177663
140737488355327
281474976710655
562949953421311
1125899906842623
2251799813685247
4503599627370495
9007199254740991
18014398509481983
36028797018963967
72057594037927935
144115188075855871
288230376151711743
576460752303423487
1152921504606846975
2305843009213693951
4611686018427387903
9223372036854775807
18446744073709551615
18446744073709551615