## Code alongs API

in .env

ALPHA_API_KEY=...

In [73]:
from dotenv import load_dotenv
import pandas as pd
import os
import requests

In [74]:
load_dotenv()

True

In [75]:
api_key= os.getenv("ALPHA_API_KEY")

In [76]:
symbols= ["AAPL", "NVDA", "TSLA", "IBM"]
stock_list= []

for symbol in symbols:
    function= "TIME_SERIES_DAILY"

    url = f"https://www.alphavantage.co/query?function={function}&symbol={symbol}&apikey={api_key}"
    data = requests.get(url).json()

    df = pd.DataFrame(data["Time Series (Daily)"]).transpose()
    df = df["4. close"].rename(symbol).astype(float)
    stock_list.append(df)

In [77]:
data

{'Meta Data': {'1. Information': 'Daily Prices (open, high, low, close) and Volumes',
  '2. Symbol': 'IBM',
  '3. Last Refreshed': '2024-03-15',
  '4. Output Size': 'Compact',
  '5. Time Zone': 'US/Eastern'},
 'Time Series (Daily)': {'2024-03-15': {'1. open': '191.9900',
   '2. high': '193.0573',
   '3. low': '190.7000',
   '4. close': '191.0700',
   '5. volume': '8828184'},
  '2024-03-14': {'1. open': '196.9500',
   '2. high': '197.7480',
   '3. low': '192.1200',
   '4. close': '193.4300',
   '5. volume': '4102202'},
  '2024-03-13': {'1. open': '197.5500',
   '2. high': '198.1000',
   '3. low': '195.3200',
   '4. close': '196.7000',
   '5. volume': '3960737'},
  '2024-03-12': {'1. open': '192.4600',
   '2. high': '199.1800',
   '3. low': '192.1500',
   '4. close': '197.7800',
   '5. volume': '5862512'},
  '2024-03-11': {'1. open': '195.0900',
   '2. high': '195.3800',
   '3. low': '190.8800',
   '4. close': '191.7300',
   '5. volume': '4712688'},
  '2024-03-08': {'1. open': '196.0600',
   '2. high': '197.7700',
   '3. low': '194.3800',
   '4. close': '195.9500',
   '5. volume': '3943113'},
  '2024-03-07': {'1. open': '197.5800',
   '2. high': '198.7300',
   '3. low': '196.1400',
   '4. close': '196.5400',
   '5. volume': '4604458'},
  '2024-03-06': {'1. open': '193.5000',
   '2. high': '198.1300',
   '3. low': '192.9600',
   '4. close': '196.1600',
   '5. volume': '6945818'},
  '2024-03-05': {'1. open': '192.0000',
   '2. high': '193.9400',
   '3. low': '190.5700',
   '4. close': '191.9500',
   '5. volume': '5653641'},
  '2024-03-04': {'1. open': '187.7600',
   '2. high': '193.8980',
   '3. low': '187.6000',
   '4. close': '193.0600',
   '5. volume': '7938266'},
  '2024-03-01': {'1. open': '185.4900',
   '2. high': '188.3800',
   '3. low': '185.1800',
   '4. close': '188.2000',
   '5. volume': '4018354'},
  '2024-02-29': {'1. open': '186.1500',
   '2. high': '186.8495',
   '3. low': '184.6900',
   '4. close': '185.0300',
   '5. volume': '6458487'},
  '2024-02-28': {'1. open': '184.6300',
   '2. high': '185.3700',
   '3. low': '183.5500',
   '4. close': '185.3000',
   '5. volume': '3216345'},
  '2024-02-27': {'1. open': '184.1600',
   '2. high': '185.1300',
   '3. low': '182.6200',
   '4. close': '184.8700',
   '5. volume': '3641378'},
  '2024-02-26': {'1. open': '185.6000',
   '2. high': '186.1250',
   '3. low': '184.0600',
   '4. close': '184.1300',
   '5. volume': '4620815'},
  '2024-02-23': {'1. open': '184.9000',
   '2. high': '186.4550',
   '3. low': '184.5700',
   '4. close': '185.7200',
   '5. volume': '3433800'},
  '2024-02-22': {'1. open': '182.4500',
   '2. high': '184.5500',
   '3. low': '181.9300',
   '4. close': '184.2100',
   '5. volume': '5078398'},
  '2024-02-21': {'1. open': '182.5600',
   '2. high': '183.0300',
   '3. low': '178.7500',
   '4. close': '179.7000',
   '5. volume': '4728473'},
  '2024-02-20': {'1. open': '187.6400',
   '2. high': '188.7700',
   '3. low': '183.0600',
   '4. close': '183.4400',
   '5. volume': '4247181'},
  '2024-02-16': {'1. open': '186.6300',
   '2. high': '188.9500',
   '3. low': '185.9452',
   '4. close': '187.6400',
   '5. volume': '4842840'},
  '2024-02-15': {'1. open': '183.6200',
   '2. high': '186.9800',
   '3. low': '183.6200',
   '4. close': '186.8700',
   '5. volume': '4714301'},
  '2024-02-14': {'1. open': '185.0000',
   '2. high': '185.0000',
   '3. low': '182.2600',
   '4. close': '183.5700',
   '5. volume': '3173391'},
  '2024-02-13': {'1. open': '184.2800',
   '2. high': '184.7700',
   '3. low': '182.3600',
   '4. close': '183.7000',
   '5. volume': '4290453'},
  '2024-02-12': {'1. open': '185.9000',
   '2. high': '186.4800',
   '3. low': '184.0300',
   '4. close': '186.1600',
   '5. volume': '4724021'},
  '2024-02-09': {'1. open': '184.4400',
   '2. high': '187.1800',
   '3. low': '183.8500',
   '4. close': '186.3400',
   '5. volume': '5064641'},
  '2024-02-08': {'1. open': '182.6300',
   '2. high': '184.5500',
   '3. low': '181.4900',
   '4. close': '184.3600',
   '5. volume': '5161185'},
  '2024-02-07': {'1. open': '183.3400',
   '2. high': '184.0200',
   '3. low': '182.6250',
   '4. close': '183.7400',
   '5. volume': '4841188'},
  '2024-02-06': {'1. open': '183.5500',
   '2. high': '184.6800',
   '3. low': '183.0400',
   '4. close': '183.4100',
   '5. volume': '3338196'},
  '2024-02-05': {'1. open': '185.5100',
   '2. high': '185.7800',
   '3. low': '183.2550',
   '4. close': '183.4200',
   '5. volume': '4379602'},
  '2024-02-02': {'1. open': '187.1000',
   '2. high': '187.3900',
   '3. low': '185.6150',
   '4. close': '185.7900',
   '5. volume': '4055411'},
  '2024-02-01': {'1. open': '183.6300',
   '2. high': '187.5100',
   '3. low': '182.7100',
   '4. close': '186.9000',
   '5. volume': '4669444'},
  '2024-01-31': {'1. open': '187.0500',
   '2. high': '187.6500',
   '3. low': '183.1400',
   '4. close': '183.6600',
   '5. volume': '8876055'},
  '2024-01-30': {'1. open': '187.7100',
   '2. high': '188.6500',
   '3. low': '186.7700',
   '4. close': '187.8700',
   '5. volume': '4575058'},
  '2024-01-29': {'1. open': '187.4600',
   '2. high': '189.4600',
   '3. low': '186.0500',
   '4. close': '187.1400',
   '5. volume': '6107908'},
  '2024-01-26': {'1. open': '191.3100',
   '2. high': '192.3896',
   '3. low': '186.1600',
   '4. close': '187.4200',
   '5. volume': '9895941'},
  '2024-01-25': {'1. open': '184.9600',
   '2. high': '196.9000',
   '3. low': '184.8300',
   '4. close': '190.4300',
   '5. volume': '29596239'},
  '2024-01-24': {'1. open': '174.7600',
   '2. high': '174.8600',
   '3. low': '172.9000',
   '4. close': '173.9300',
   '5. volume': '7831157'},
  '2024-01-23': {'1. open': '172.9000',
   '2. high': '174.0200',
   '3. low': '172.4800',
   '4. close': '173.9400',
   '5. volume': '3983461'},
  '2024-01-22': {'1. open': '172.8200',
   '2. high': '174.4500',
   '3. low': '172.4000',
   '4. close': '172.8300',
   '5. volume': '4925964'},
  '2024-01-19': {'1. open': '170.5900',
   '2. high': '171.5791',
   '3. low': '169.1800',
   '4. close': '171.4800',
   '5. volume': '6929079'},
  '2024-01-18': {'1. open': '166.4900',
   '2. high': '166.9900',
   '3. low': '165.0400',
   '4. close': '166.8400',
   '5. volume': '3776990'},
  '2024-01-17': {'1. open': '166.7900',
   '2. high': '167.8200',
   '3. low': '165.4950',
   '4. close': '166.0800',
   '5. volume': '4288604'},
  '2024-01-16': {'1. open': '165.8000',
   '2. high': '167.2500',
   '3. low': '165.3400',
   '4. close': '166.9600',
   '5. volume': '4869635'},
  '2024-01-12': {'1. open': '162.9700',
   '2. high': '165.9800',
   '3. low': '162.3550',
   '4. close': '165.8000',
   '5. volume': '4958261'},
  '2024-01-11': {'1. open': '161.0200',
   '2. high': '162.2300',
   '3. low': '160.2900',
   '4. close': '162.1600',
   '5. volume': '3778395'},
  '2024-01-10': {'1. open': '160.2800',
   '2. high': '161.3400',
   '3. low': '159.7400',
   '4. close': '161.2300',
   '5. volume': '2967852'},
  '2024-01-09': {'1. open': '160.0000',
   '2. high': '160.4837',
   '3. low': '159.5100',
   '4. close': '160.0800',
   '5. volume': '2617186'},
  '2024-01-08': {'1. open': '158.6900',
   '2. high': '161.2160',
   '3. low': '157.8850',
   '4. close': '161.1400',
   '5. volume': '3321698'},
  '2024-01-05': {'1. open': '159.9100',
   '2. high': '160.5500',
   '3. low': '158.6700',
   '4. close': '159.1600',
   '5. volume': '3698961'},
  '2024-01-04': {'1. open': '160.2200',
   '2. high': '161.8100',
   '3. low': '160.1700',
   '4. close': '160.8600',
   '5. volume': '3212004'},
  '2024-01-03': {'1. open': '161.0000',
   '2. high': '161.7300',
   '3. low': '160.0800',
   '4. close': '160.1000',
   '5. volume': '4086065'},
  '2024-01-02': {'1. open': '162.8300',
   '2. high': '163.2900',
   '3. low': '160.4600',
   '4. close': '161.5000',
   '5. volume': '3825044'},
  '2023-12-29': {'1. open': '163.7500',
   '2. high': '164.1800',
   '3. low': '162.8300',
   '4. close': '163.5500',
   '5. volume': '2526169'},
  '2023-12-28': {'1. open': '163.9600',
   '2. high': '163.9600',
   '3. low': '163.4000',
   '4. close': '163.7500',
   '5. volume': '2071313'},
  '2023-12-27': {'1. open': '163.1400',
   '2. high': '163.6400',
   '3. low': '162.6800',
   '4. close': '163.4600',
   '5. volume': '3006612'},
  '2023-12-26': {'1. open': '162.2300',
   '2. high': '163.3100',
   '3. low': '162.0500',
   '4. close': '163.2100',
   '5. volume': '1772443'},
  '2023-12-22': {'1. open': '161.1000',
   '2. high': '162.4100',
   '3. low': '161.0000',
   '4. close': '162.1400',
   '5. volume': '2442715'},
  '2023-12-21': {'1. open': '160.5900',
   '2. high': '161.0800',
   '3. low': '159.5300',
   '4. close': '160.7800',
   '5. volume': '2982924'},
  '2023-12-20': {'1. open': '161.2900',
   '2. high': '161.8000',
   '3. low': '160.0100',
   '4. close': '160.0500',
   '5. volume': '4865797'},
  '2023-12-19': {'1. open': '161.8000',
   '2. high': '162.2800',
   '3. low': '161.3200',
   '4. close': '161.5600',
   '5. volume': '3717429'},
  '2023-12-18': {'1. open': '162.2300',
   '2. high': '163.3300',
   '3. low': '161.5766',
   '4. close': '162.7400',
   '5. volume': '3677533'},
  '2023-12-15': {'1. open': '162.3000',
   '2. high': '164.0900',
   '3. low': '162.0400',
   '4. close': '162.2300',
   '5. volume': '11016108'},
  '2023-12-14': {'1. open': '162.9300',
   '2. high': '163.4990',
   '3. low': '160.1490',
   '4. close': '162.9100',
   '5. volume': '6129804'},
  '2023-12-13': {'1. open': '164.3700',
   '2. high': '164.9653',
   '3. low': '162.7350',
   '4. close': '163.6200',
   '5. volume': '4989141'},
  '2023-12-12': {'1. open': '163.2700',
   '2. high': '166.3400',
   '3. low': '162.9200',
   '4. close': '164.7100',
   '5. volume': '5292290'},
  '2023-12-11': {'1. open': '162.6800',
   '2. high': '163.6500',
   '3. low': '161.9500',
   '4. close': '163.5100',
   '5. volume': '6077207'},
  '2023-12-08': {'1. open': '160.0000',
   '2. high': '162.0400',
   '3. low': '160.0000',
   '4. close': '161.9600',
   '5. volume': '4561342'},
  '2023-12-07': {'1. open': '161.0000',
   '2. high': '161.4650',
   '3. low': '159.9700',
   '4. close': '160.2200',
   '5. volume': '3665498'},
  '2023-12-06': {'1. open': '161.5900',
   '2. high': '162.3550',
   '3. low': '160.0100',
   '4. close': '160.2800',
   '5. volume': '3356432'},
  '2023-12-05': {'1. open': '160.7600',
   '2. high': '162.4700',
   '3. low': '160.7200',
   '4. close': '161.3900',
   '5. volume': '4556668'},
  '2023-12-04': {'1. open': '160.2900',
   '2. high': '162.7900',
   '3. low': '160.2900',
   '4. close': '161.1000',
   '5. volume': '5779017'},
  '2023-12-01': {'1. open': '158.4100',
   '2. high': '160.5900',
   '3. low': '158.0000',
   '4. close': '160.5500',
   '5. volume': '4871860'},
  '2023-11-30': {'1. open': '156.9500',
   '2. high': '158.6000',
   '3. low': '156.8900',
   '4. close': '158.5600',
   '5. volume': '6740622'},
  '2023-11-29': {'1. open': '156.1500',
   '2. high': '157.5100',
   '3. low': '156.0200',
   '4. close': '156.4100',
   '5. volume': '3568887'},
  '2023-11-28': {'1. open': '155.4400',
   '2. high': '155.7450',
   '3. low': '154.8600',
   '4. close': '155.6500',
   '5. volume': '2666182'},
  '2023-11-27': {'1. open': '154.9900',
   '2. high': '156.1350',
   '3. low': '154.7500',
   '4. close': '155.5700',
   '5. volume': '4053093'},
  '2023-11-24': {'1. open': '155.1300',
   '2. high': '155.4000',
   '3. low': '153.9200',
   '4. close': '155.1800',
   '5. volume': '1799161'},
  '2023-11-22': {'1. open': '154.5000',
   '2. high': '155.7050',
   '3. low': '154.1600',
   '4. close': '155.1300',
   '5. volume': '3045091'},
  '2023-11-21': {'1. open': '154.6000',
   '2. high': '154.6600',
   '3. low': '153.5100',
   '4. close': '153.9100',
   '5. volume': '2859508'},
  '2023-11-20': {'1. open': '152.5100',
   '2. high': '154.6800',
   '3. low': '152.3500',
   '4. close': '154.3500',
   '5. volume': '3658936'},
  '2023-11-17': {'1. open': '153.2900',
   '2. high': '153.5000',
   '3. low': '152.4601',
   '4. close': '152.8900',
   '5. volume': '4426676'},
  '2023-11-16': {'1. open': '153.0000',
   '2. high': '153.3500',
   '3. low': '152.1300',
   '4. close': '153.0600',
   '5. volume': '3519172'},
  '2023-11-15': {'1. open': '150.4000',
   '2. high': '153.2200',
   '3. low': '150.4000',
   '4. close': '152.5800',
   '5. volume': '4632519'},
  '2023-11-14': {'1. open': '149.4500',
   '2. high': '150.8063',
   '3. low': '149.0500',
   '4. close': '150.4100',
   '5. volume': '4321940'},
  '2023-11-13': {'1. open': '148.4600',
   '2. high': '148.4900',
   '3. low': '147.3500',
   '4. close': '148.1000',
   '5. volume': '2647288'},
  '2023-11-10': {'1. open': '147.4400',
   '2. high': '149.1700',
   '3. low': '146.8500',
   '4. close': '149.0200',
   '5. volume': '3179541'},
  '2023-11-09': {'1. open': '146.5500',
   '2. high': '146.9900',
   '3. low': '145.2800',
   '4. close': '146.6200',
   '5. volume': '3412713'},
  '2023-11-08': {'1. open': '149.2500',
   '2. high': '149.6800',
   '3. low': '147.5850',
   '4. close': '148.0300',
   '5. volume': '3618588'},
  '2023-11-07': {'1. open': '149.0300',
   '2. high': '149.2800',
   '3. low': '148.0300',
   '4. close': '148.8300',
   '5. volume': '3549853'},
  '2023-11-06': {'1. open': '147.8900',
   '2. high': '149.2250',
   '3. low': '147.8500',
   '4. close': '148.9700',
   '5. volume': '4597249'},
  '2023-11-03': {'1. open': '147.4500',
   '2. high': '148.4450',
   '3. low': '147.2800',
   '4. close': '147.9000',
   '5. volume': '3510495'},
  '2023-11-02': {'1. open': '145.7700',
   '2. high': '147.1000',
   '3. low': '144.8400',
   '4. close': '147.0100',
   '5. volume': '3902657'},
  '2023-11-01': {'1. open': '145.0000',
   '2. high': '146.5100',
   '3. low': '144.4500',
   '4. close': '145.4000',
   '5. volume': '4750081'},
  '2023-10-31': {'1. open': '143.0000',
   '2. high': '144.7600',
   '3. low': '142.5900',
   '4. close': '144.6400',
   '5. volume': '6592041'},
  '2023-10-30': {'1. open': '143.1900',
   '2. high': '144.5000',
   '3. low': '142.5800',
   '4. close': '142.6300',
   '5. volume': '4204190'},
  '2023-10-27': {'1. open': '143.6200',
   '2. high': '144.7000',
   '3. low': '141.7100',
   '4. close': '142.5200',
   '5. volume': '5469227'},
  '2023-10-26': {'1. open': '142.2000',
   '2. high': '144.4100',
   '3. low': '141.5800',
   '4. close': '143.7600',
   '5. volume': '11130170'},
  '2023-10-25': {'1. open': '137.5000',
   '2. high': '138.4900',
   '3. low': '136.3300',
   '4. close': '137.0800',
   '5. volume': '6472549'},
  '2023-10-24': {'1. open': '136.7400',
   '2. high': '137.9800',
   '3. low': '136.0500',
   '4. close': '137.7900',
   '5. volume': '3697975'},
  '2023-10-23': {'1. open': '136.6300',
   '2. high': '137.6800',
   '3. low': '135.8700',
   '4. close': '136.3800',
   '5. volume': '3457527'}}}

In [79]:
stocks = pd.concat(stock_list, axis=1)
stocks

              AAPL     NVDA    TSLA     IBM
2024-03-15  172.62  878.365  163.57  191.07
2024-03-14  173.00  879.440  162.50  193.43
2024-03-13  171.13  908.880  169.48  196.70
2024-03-12  173.23  919.130  177.54  197.78
2024-03-11  172.75  857.740  177.77  191.73
...            ...      ...     ...     ...
2023-10-27  168.22  405.000  207.30  142.52
2023-10-26  166.89  403.260  205.76  143.76
2023-10-25  171.10  417.790  212.42  137.08
2023-10-24  173.44  436.630  216.52  137.79
2023-10-23  173.00  429.750  212.08  136.38

[100 rows x 4 columns]